.plans-body {
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-8);
    align-items: center;
    padding: var(--spacing-6);
}

.plans-body>p {
    font-size: var(--font-size-sm);
}

.plan-card {
    width: 100%;
    background-color: var(--color-gray-light);
    padding: var(--spacing-3) var(--spacing-4);
    border-radius: var(--radius-md);
}

.plan-text {
    margin-top: var(--spacing-3);
}

.links-container {
    display: flex;
    justify-content: center;
    gap: var(--spacing-5);
}