@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text-primary);
}

body {
    font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
}

h1 {
    font-size: var(--font-size-title);
    color: var(--color-text-heading);
}