header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-4);
}

header span {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-2xl);
    color: var(--color-gray);
}

header button {
    background: var(--color-bg-body);
    border: none;
    color: var(--color-primary);
}

.login-container {
    display: flex;
    height: 100vh;
    padding: var(--spacing-4);
    flex-direction: column;
    justify-content: space-between;
}

.login-container h1 {
    font-family: var(--font-family-base);
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-2);
}

.error {
    font-size: var(--font-size-sm);
    color: var(--color-error);
    display: block;
}

.forgot-password {
    color: var(--color-primary);
    margin-top: var(--spacing-1);
}