.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: var(--color-bg-body);
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-decoration: none;
  font-size: 12px;
  color: var(--color-gray-md);
}

.nav-item svg {
  font-size: 22px;
  margin-bottom: 4px;
}

/* Item ativo */
.nav-item.active {
  color: var(--color-primary); /* roxo similar ao da imagem */
}
