input {
  width: 100%;
  margin: var(--spacing-2) 0;
  padding: var(--spacing-4) var(--spacing-2);
  color: var(--color-black);
  border: none;
  border-radius: var(--radius-lg);
  background-color: var(--color-bg-input);
}

input:focus {
  border: var(--border-width-thin) solid var(--border-color-focus);
  outline: none;
}