header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm);
}

strong {
    font-family: var(--font-family-title);
    font-size: var(--font-size-3xl);
    color: var(--color-primary);
}