.welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-8);
}

.welcome-text a:hover {
    color: var(--color-primary);
}

.welcome-divider {
    text-align: center;
    margin: var(--spacing-6);
}

.welcome-social {
    display: flex;
    justify-content: center;
    gap: var(--spacing-2)
}

.social-btn {
    width: 2rem;
    height: 2rem;
    border: var(--border-width-thin) solid var(--border-color-default);
    border-radius: var(--radius-full);
    padding: var(--spacing-1);
    background-color: var(--color-bg-body);
}

.social-btn img{
    width: 100%;
    border-radius: var(--radius-full);
}